<?xml version="1.0"?>
<data>
    <AWS>
        <BucketPolicyPath>AWS/BucketPolicy.config</BucketPolicyPath>
        <IAMBasicPolicyPath>AWS/IAMBasicPolicy.config</IAMBasicPolicyPath>
        <IAMStrictPolicyPath>AWS/IAMStrictPolicy.config</IAMStrictPolicyPath>
        <NamingPrefix>cloudsec</NamingPrefix>
        <ProductionSecurityGroupId>sg-7befd21e</ProductionSecurityGroupId>
        <ProductionSubnetId>subnet-59e2f871</ProductionSubnetId>
        <RemediationSecurityGroupId>sg-e6323583</RemediationSecurityGroupId>
        <CloudInitScriptPath>AWS/CloudConfig.config</CloudInitScriptPath>
        <EC2KeyName>mykey</EC2KeyName>
        <CanonicalUserId>ebe6799346d8527955740c643faeb405a27ab195a29e5f20f326082fc5abdfb8</CanonicalUserId>
    </AWS>
    <Chef>
        <KeyPath></KeyPath>
        <ConfigFilePath></ConfigFilePath>
    </Chef>
</data>