{
	"Version": "2008-10-17",
	"Id": "Policy1413445476875",
	"Statement": [
		{
			"Sid": "Stmt1413445471788",
			"Effect": "Allow",
			"Principal": {"CanonicalUser":"CANONICALUSER"},
			"Action": "s3:*",
			"Resource": [
				"arn:aws:s3:::BUCKETNAME",
				"arn:aws:s3:::BUCKETNAME/*"
			],
			"Condition": {
				"StringEquals": {
					"aws:Referer": "REFERERNAME"
				}
			}
		}
	]
}