#cloud-config

apt_sources:
 - source: "ppa:fkrull/deadsnakes"

apt_update: true
apt_upgrade: true

packages:
 - python2.7
 - python-pip

runcmd:
 - [ pip, install, "wheel" ]
 - [ pip, install, "boto" ]
 - [ wget, "https://pypi.python.org/packages/2.7/P/PyChef/PyChef-0.2.3-py27-none-any.whl"]
 - [ wheel, install, "PyChef-0.2.3-py27-none-any.whl"]
 - [ wget, "https://s3.amazonaws.com/config-cloudsec/CloudInit.tar.gz", -O, CloudInit.tar.gz]
 - [ tar, -zxvf, "CloudInit.tar.gz"]
 - [ cd, "CloudInit"]
 - [ python, "Init.py"]
