#cloud-config

apt_sources:
 - source: "ppa:fkrull/deadsnakes"

apt_update: true
apt_upgrade: true

packages:
 - python2.7
 - python-pip
 - libssl1.0.0
 - libssl-dev

runcmd:
 - ip addr | grep 'state UP' -A2 | tail -n1 | awk '{print $2}' | cut -f1  -d'/' | awk -v MYHOST=$(hostname) '{print $1" "MYHOST}' >> /etc/hosts
 - pip install boto
 - pip install wheel
 - wget https://pypi.python.org/packages/2.7/P/PyChef/PyChef-0.2.3-py27-none-any.whl
 - pip install PyChef-0.2.3-py27-none-any.whl
 - pip install StringGenerator
 - wget https://s3.amazonaws.com/config-cloudsec/CloudInit.tar.gz -O CloudInit.tar.gz
 - tar -zxvf CloudInit.tar.gz
 - cd /Cloudefigo
 - python Prepare.py generate
 - wget https://www.opscode.com/chef/install.sh -O install.sh
 - bash install.sh
 - mkdir /etc/chef
 - wget https://s3.amazonaws.com/config-cloudsec/validation.pem -O validation.pem
 - cp validation.pem /etc/chef/validation.pem
 - wget https://s3.amazonaws.com/config-cloudsec/client.rb -O /etc/chef/client.rb
 - chef-client -r encryption
 - python Init.py
 - cat Init.py